In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('data scientist_Canada.csv')

In [26]:
df.shape

(578, 12)

In [27]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"$92,470 /yr (est.)",-1,-1,-1,-1,-1,-1
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","$58,700 /yr (est.)",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD)
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","$97,134 /yr (est.)",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable
3,3,Intelcom\n3.1,Data Scientist Intern,Montreal,Ride the next mile with us!\nPoste Description...,-1,1001 to 5000 Employees,Company - Private,Transportation & Logistics,Shipping & Trucking,-1,Unknown / Non-Applicable
4,4,Alberta Blue Cross\n3.7,Data Scientist – Analytics,Alberta,Alberta Blue Cross® is an Alberta based organi...,-1,501 to 1000 Employees,Company - Public,Insurance,Insurance Carriers,1948,$2 to $5 billion (USD)

### Remove empty Salary values

In [28]:
df = df[df['salary estimate'] != '-1']

In [29]:
df.shape

(439, 12)

In [30]:
df

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"$92,470 /yr (est.)",-1,-1,-1,-1,-1,-1
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","$58,700 /yr (est.)",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD)
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","$97,134 /yr (est.)",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable
5,5,Canada Post - Postes Canada\n3.7,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"$106,806 /yr (est.)",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD)
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"$80,000 /yr (est.)",-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,eBuyNow eCommerce Ltd\n3.9,data scientist,Victoria,Education: Bachelor's degree\nExperience: 2 ye...,"$77,500 /yr (est.)",1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,1995,Unknown / Non-Applicable
572,572,Thales\n3.5,Intern -- Research and Technology Applied AI (...,Montreal,"Location: Montreal, Canada\nDans des marchés e...","$76,034 /yr (est.)",10000+ Employees,Company - Public,Aerospace & Defence,Aerospace & Defence,2000,$10+ billion (USD)
573,573,TD Bank\n3.9,Data Scientist I (Quants),Toronto,TD Description\nTell us your story. Don't go u...,"$92,205 /yr (est.)",10000+ Employees,Company - Public,Finance,Banking & Lending,1855,$10+ billion (USD)
576,576,Fundmetric,Data Scientist,Halifax,"A special note from Mark Hobbs, CEO and Rachel...","$125,000 /yr (est.)",-1,-1,-1,-1,-1,-1
577,577,Bowes Agency,Data Scientist,Bathurst,We are looking for a Data Scientist to analyze...,"$4,000 /mo (est.)",-1,-1,-1,-1,-1,-1

### Salary parsing

#### Remove text

In [31]:
salary = df['salary estimate'].apply(lambda x:x.split('(')[0])

In [32]:
df['salary estimate'] = salary

In [33]:
df

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"$92,470 /yr",-1,-1,-1,-1,-1,-1
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","$58,700 /yr",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD)
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","$97,134 /yr",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable
5,5,Canada Post - Postes Canada\n3.7,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"$106,806 /yr",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD)
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"$80,000 /yr",-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
571,571,eBuyNow eCommerce Ltd\n3.9,data scientist,Victoria,Education: Bachelor's degree\nExperience: 2 ye...,"$77,500 /yr",1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,1995,Unknown / Non-Applicable
572,572,Thales\n3.5,Intern -- Research and Technology Applied AI (...,Montreal,"Location: Montreal, Canada\nDans des marchés e...","$76,034 /yr",10000+ Employees,Company - Public,Aerospace & Defence,Aerospace & Defence,2000,$10+ billion (USD)
573,573,TD Bank\n3.9,Data Scientist I (Quants),Toronto,TD Description\nTell us your story. Don't go u...,"$92,205 /yr",10000+ Employees,Company - Public,Finance,Banking & Lending,1855,$10+ billion (USD)
576,576,Fundmetric,Data Scientist,Halifax,"A special note from Mark Hobbs, CEO and Rachel...","$125,000 /yr",-1,-1,-1,-1,-1,-1
577,577,Bowes Agency,Data Scientist,Bathurst,We are looking for a Data Scientist to analyze...,"$4,000 /mo",-1,-1,-1,-1,-1,-1

#### Divide by hour, month and year

In [34]:
df['hourly'] = df['salary estimate'].apply(lambda x:1 if 'hr' in x.lower() else 0)
df['month'] = df['salary estimate'].apply(lambda x:1 if 'mo' in x.lower() else 0)

In [35]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"$92,470 /yr",-1,-1,-1,-1,-1,-1,0
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","$58,700 /yr",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","$97,134 /yr",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0
5,5,Canada Post - Postes Canada\n3.7,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"$106,806 /yr",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"$80,000 /yr",-1,-1,-1,-1,-1,-1,0

#### Remove special characters

In [36]:
df['salary estimate'] = df['salary estimate'].apply(lambda x: x.lower().replace("$",""))

In [37]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470 /yr",-1,-1,-1,-1,-1,-1,0
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700 /yr",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134 /yr",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0
5,5,Canada Post - Postes Canada\n3.7,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806 /yr",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000 /yr",-1,-1,-1,-1,-1,-1,0

### Remove /hr and /yr

In [38]:
df['salary estimate'] = df['salary estimate'].apply(lambda x:x.split('/')[0].replace(" ",""))

In [39]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,-1,0
1,1,Sun Life\n4.1,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0
2,2,Paytm Labs\n3.4,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0
5,5,Canada Post - Postes Canada\n3.7,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,-1,0

### Company name text only

#### Only Text

In [40]:
df['rating'] = df['company'].apply(lambda x:x[-3:] if x[-2] == "." else -1)

#### Rating Column

In [41]:
df['company'] = df['company'].apply(lambda x:x[:-3] if x[-2] == "." else x)

#### Remove break line

In [42]:
df['company'] = df['company'].apply(lambda x:x.replace("\n",""))

In [43]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly,rating
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,-1,0,-1
1,1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0,4.1
2,2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0,3.4
5,5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0,3.7
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,-1,0,-1

### Remove Cities, Only States

In [44]:
df['city'] = df['location'].apply(lambda x:x.split(',')[1] if len(x.split(',')) > 1 else x ) 
#df['city'] = df['location'].apply(lambda x:x.split(',')[0])

In [45]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly,rating,city
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,-1,0,-1,Remote
1,1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0,4.1,Toronto
2,2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0,3.4,Toronto
5,5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0,3.7,Ottawa
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,-1,0,-1,Quebec

In [46]:
df.city.value_counts()

Toronto         136
Calgary          50
Montreal         38
Remote           36
Victoria         36
Abbotsford       15
Waterloo         13
Ottawa           12
Halifax          12
St. John's       11
Markham          10
Penticton        10
Bathurst          8
Whitehorse        7
Vancouver         7
Saskatoon         6
Quebec            6
Edmonton          4
Canada            3
Mississauga       3
Winnipeg          3
Concord           2
Kirkland          2
Windsor           2
Coquitlam         2
Burnaby           1
North York        1
Bonnyville        1
Halton Hills      1
Richmond          1
Name: city, dtype: int64

### Age Company

In [47]:
df['age'] = df['company_founded'].apply(lambda x:-1 if x < 0 else 2023 - x)

In [48]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,hourly,rating,city,age
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,-1,0,-1,Remote,-1
1,1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,$2 to $5 billion (USD),0,4.1,Toronto,158
2,2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,Unknown / Non-Applicable,0,3.4,Toronto,9
5,5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,$5 to $10 billion (USD),0,3.7,Ottawa,-1
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,-1,0,-1,Quebec,-1

### Parsing of job description

#### Most popular data science tools

In [49]:
#Python
df['python_needed'] = df['job description'].apply(lambda x:1 if 'python' in x.lower() else 0)
#SAS
df['sas_needed'] = df['job description'].apply(lambda x:1 if 'sas' in x.lower() else 0)
#tableau
df['tableau_needed'] = df['job description'].apply(lambda x:1 if 'tableau' in x.lower() else 0)
#Matlab
df['matlab_needed'] = df['job description'].apply(lambda x:1 if 'matlab' in x.lower() else 0)
#Spark
df['spark_needed'] = df['job description'].apply(lambda x:1 if 'spark' in x.lower() else 0)
#Tensorflow
df['tensorflow_needed'] = df['job description'].apply(lambda x:1 if 'tensorflow' in x.lower() else 0)
#Pytorch
df['pytorch_needed'] = df['job description'].apply(lambda x:1 if 'pytorch' in x.lower() else 0)
#Hadoop
df['hadoop_needed'] = df['job description'].apply(lambda x:1 if 'hadoop' in x.lower() else 0)

In [50]:
df.head()

,Unnamed: 0,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,...,city,age,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,hadoop_needed
0,0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,...,Remote,-1,1,0,0,0,0,0,1,0
1,1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,...,Toronto,158,1,0,0,0,1,0,0,1
2,2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,...,Toronto,9,1,0,0,0,1,1,1,0
5,5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,...,Ottawa,-1,1,1,0,0,0,0,0,0
6,6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,...,Quebec,-1,1,0,0,0,0,0,0,0

In [51]:
df = df.drop(['Unnamed: 0'], axis  = 1)

In [52]:
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,city,age,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,hadoop_needed
0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,...,Remote,-1,1,0,0,0,0,0,1,0
1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,...,Toronto,158,1,0,0,0,1,0,0,1
2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,...,Toronto,9,1,0,0,0,1,1,1,0
5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,...,Ottawa,-1,1,1,0,0,0,0,0,0
6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,...,Quebec,-1,1,0,0,0,0,0,0,0

In [53]:
df.columns

Index(['company', 'job title', 'location', 'job description',
       'salary estimate', 'company_size', 'company_type', 'company_sector',
       'company_industry', 'company_founded', 'company_revenue', 'hourly',
       'rating', 'city', 'age', 'python_needed', 'sas_needed',
       'tableau_needed', 'matlab_needed', 'spark_needed', 'tensorflow_needed',
       'pytorch_needed', 'hadoop_needed'],
      dtype='object')

### Seniority

In [54]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return ' data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning engineer'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'junior':
        return 'junior'
    else:
        return 'na'

In [55]:
df['job_simp'] = df['job title'].apply(title_simplifier)

In [56]:
df['seniority'] = df['job title'].apply(seniority)

In [57]:
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,hadoop_needed,job_simp,seniority
0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,"92,470",-1,-1,-1,-1,-1,...,1,0,0,0,0,0,1,0,data scientist,junior
1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...","58,700",5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,...,1,0,0,0,1,0,0,1,data scientist,junior
2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...","97,134",51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,...,1,0,0,0,1,1,1,0,data scientist,junior
5,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,"106,806",10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,...,1,1,0,0,0,0,0,0,data scientist,junior
6,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,"80,000",-1,-1,-1,-1,-1,...,1,0,0,0,0,0,0,0,data scientist,junior

In [58]:
df.job_simp.value_counts()

data scientist               268
analyst                       65
machine learning engineer     63
na                            43
Name: job_simp, dtype: int64

### Hourly wage to annual

In [59]:
df['salary estimate'] = df['salary estimate'].apply(lambda x:x.replace(",","") if "," in x else x)

In [60]:
df['salary estimate'] = df['salary estimate'].apply(lambda x:float(x) if type(x) != float else x)

In [61]:
df = df.reset_index()

In [62]:
df = df.drop(['index'], axis = 1)

In [63]:
df.head()

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,hadoop_needed,job_simp,seniority
0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,92470.0,-1,-1,-1,-1,-1,...,1,0,0,0,0,0,1,0,data scientist,junior
1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...",58700.0,5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,...,1,0,0,0,1,0,0,1,data scientist,junior
2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...",97134.0,51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,...,1,0,0,0,1,1,1,0,data scientist,junior
3,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,106806.0,10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,...,1,1,0,0,0,0,0,0,data scientist,junior
4,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,80000.0,-1,-1,-1,-1,-1,...,1,0,0,0,0,0,0,0,data scientist,junior

In [64]:
df.shape

(439, 25)

In [65]:
for i in range(df.shape[0]):
    if df['hourly'].iloc[i] == 1:
        print(i)
        df['salary estimate'].loc[i] = df['salary estimate'].loc[i]*2000

11
13
15
23
29
38
41
44
52
58
60
64
65
81
86
95
97
100
106
115
119
126
141
146
154
156
160
164
171
175
180
186
193
196
198
206
216
218
227
235
239
244
246
250
258
265
268
272
277
289
290
293
301
304
315
323
325
335
345
346
354
357
369
372
375
378
389
390
398
407
408
417
419
428
429

C:\Users\mauri\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [66]:
df

,company,job title,location,job description,salary estimate,company_size,company_type,company_sector,company_industry,company_founded,...,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,hadoop_needed,job_simp,seniority
0,FMG HR services,Data Scientist for MERCATOR AI,Remote,Mercator (mer-kay-ter) AI is a data intelligen...,92470.0,-1,-1,-1,-1,-1,...,1,0,0,0,0,0,1,0,data scientist,junior
1,Sun Life,Data Scientist,Toronto,"You are as unique as your background, experien...",58700.0,5001 to 10000 Employees,Company - Public,Insurance,Insurance Carriers,1865,...,1,0,0,0,1,0,0,1,data scientist,junior
2,Paytm Labs,Data Scientist,Toronto,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...",97134.0,51 to 200 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2014,...,1,0,0,0,1,1,1,0,data scientist,junior
3,Canada Post - Postes Canada,Data Scientist,Ottawa,Job Requisition Id: 166038\nBusiness Function:...,106806.0,10000+ Employees,Government,Government & Public Administration,National Services & Agencies,-1,...,1,1,0,0,0,0,0,0,data scientist,junior
4,Innovations MUUTAA Inc.,data scientist,Quebec,Education: Master's degree\nExperience: 2 year...,80000.0,-1,-1,-1,-1,-1,...,1,0,0,0,0,0,0,0,data scientist,junior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,eBuyNow eCommerce Ltd,data scientist,Victoria,Education: Bachelor's degree\nExperience: 2 ye...,77500.0,1 to 50 Employees,Company - Private,Information Technology,Information Technology Support Services,1995,...,1,0,0,0,0,0,0,0,data scientist,junior
435,Thales,Intern -- Research and Technology Applied AI (...,Montreal,"Location: Montreal, Canada\nDans des marchés e...",76034.0,10000+ Employees,Company - Public,Aerospace & Defence,Aerospace & Defence,2000,...,1,0,0,0,0,1,1,0,na,junior
436,TD Bank,Data Scientist I (Quants),Toronto,TD Description\nTell us your story. Don't go u...,92205.0,10000+ Employees,Company - Public,Finance,Banking & Lending,1855,...,1,1,0,1,0,0,0,0,data scientist,junior
437,Fundmetric,Data Scientist,Halifax,"A special note from Mark Hobbs, CEO and Rachel...",125000.0,-1,-1,-1,-1,-1,...,0,0,0,1,0,1,0,0,data scientist,junior
438,Bowes Agency,Data Scientist,Bathurst,We are looking for a Data Scientist to analyze...,4000.0,-1,-1,-1,-1,-1,...,1,0,1,0,0,0,0,1,data scientist,junior

In [347]:
df.to_csv('data scientist cleaned.csv', index = False) #index = False if we don't want an Unnamed Column